body{
    background: url(img/back_ground.jpg) ;
    background-size: 200%;
    font-family: 'Montserrat', sans-serif;
    padding: 0px ;
    margin: 0px;
    user-select: none;
}
.sweet-overlay {
    background-color: black;
    /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; */
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 10000;
    width: auto;
}
.p1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    /* text-decoration: underline; */
}
.sweet-alert button {
    background-color: #34677e;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    right: 5px;
    cursor: pointer;
    width: auto;
    height: 90px;
    bottom: 10px;
}
.sweet-alert .sa-icon {
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}
.sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block;
    font-family: 'Montserrat', sans-serif;

}
.logo{
    height: 50px;
    position: absolute;
    top: 7px;
    left: 7px;
    filter: drop-shadow(2px 3px 3px #96b3cd);
}
.logo-short{
    height: 80px;
    position: absolute;
    top: 1px;
    right: 15px ;
    filter: drop-shadow(2px 3px 3px #96b3cd);
}
div{
    width: 340px;
    margin: auto;
    top: 60px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
button {
    width: 100%;
    height: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin: 1px;
    margin-top: 5px;
    color: #fff;
    background:#848f99;
    box-shadow: 3px 1px 4px 0px #96b3cd;
    border: solid 1px darkgray  ;
    position: relative;
}
.counter__button_minus{
    border: none;
    box-shadow: none;
    font-size: 0; 
    width: 25px;
    height: 1px;
    text-align: center;
    background: none;
    position: absolute;
    /* z-index: 22; */
}

.counter_input{
    border: solid 1px darkgray;
    position: absolute;
    color: gray;
    background: rgb(225 226 227);
    margin-left: 308px;
    height: 15px;
    width: 15px;
    text-align: center;
    margin-top: -48px;
    border-radius: 25%;
    font-size: 12px;
}
.type_page {
    top: 10px;
    height: 50%;
    position: relative;
    width: 48.7%;
    margin-left: 3px;
    z-index: 1;
}
.const_page{
    top: 10px;
    height: 160px;
    position: relative;
    width: 48.7%;
    display: inline-grid;
    margin-left: 3px;
    font-size: 12px;
    z-index: 1;
}
button:hover{
    opacity: 0.8;
}
.type_active {
    background: darkgray;
    color: #fff;
    height: 80px;
}
.const_active {
    background: darkgray;
    color: #fff;
    height: 60px;
}
span{
    color: #878181;
    justify-content: center;
    display: flex;
}
input{
    width: 47.3%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 6px;
    margin-left: 3px;
    margin-bottom: 2px;
    border: solid 1px darkgray;
    border-radius: 5px;
}
input.radio{
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
}
input.checkbox{
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
}
h4{
    color: #878181;
    font-size: 14px;
    justify-content: center;
    display: grid;
    font-weight: 500;
}

span{
    font-size: 12px;
    pointer-events: none;
}
.label{
    color: #878181;
    font-size: 14px;
    display: block;
    margin-left: 50px;
    padding-top: 2px;
    padding-bottom: 8px;
    margin-top: 2px;
}
.data{
    font-size: 12px;
    background-color: rgb(205 204 204);
    color: #6d7277;
    border-collapse: collapse;
    width: 340px;
}
.data th{
    padding: 3px;
    text-align: center;
    font-weight: 500;
}
.data td{
    padding: 3px;
    text-align: center;
}
.data tr:nth-child(even){                  
    background-color: rgb(225 226 227);
    color: #737272;
}
.start_page{
    top:120px;
    height: 120px;
    position: relative;
}
.img-icon{
    position: absolute;
    width: 99%;
    pointer-events: none;
    border-radius: 10px;
}
.img-icon-type{
    width: 90%;
    pointer-events: none;
    border-radius: 10px;
}
.counter__button_plus{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: solid 1px rgb(184, 178, 178);
}
.counter__button_param{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: solid 1px #6d7277;
    color: #6d7277;
    background: rgb(225 226 227);
}
.add_design_button{
    width: 50%;
    height: 35px;
    border-radius: 8px;
    border: solid 1px rgb(184, 178, 178);
}
@media screen and (min-width: 900px) {
div{
    width: 340px;
    margin-left: 20px;
    top: 60px;
    position: relative; 
}
body{
    background: url(img/back_ground.jpg) ;
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 0px ;
    margin: 0px;
}
.sweet-alert button {
    left: 30px;
}
} 
@media screen and (max-width: 400px) {
/* div{
    width: 340px;
    margin-left: 20px;
    top: 60px;
    position: relative; 
}
body{
    background: url(img/back_ground.jpg) ;
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 0px ;
    margin: 0px;
} */
.sweet-alert button {
    left: -25px;
}
} 


 